<!-- <button mat-button>Hello World!</button>
<button mat-raised-button>Hello Another World!</button>

<div class="mat-display-4">mat-display-4</div>
<div class="mat-display-3">
  mat-display-3
</div>
<div class="mat-display-2">
  mat-display-2
</div>
<div class="mat-display-1">
  mat-display-1
</div>

<hr />

<div class="mat-headline">Headline</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-1">Subheading 1</div>
<div class="mat-subheading-2">Subheading 2</div>

<hr />

<div class="mat-body-1">Body text</div>
<div class="mat-body-2">Body text in bold</div>
<div class="mat-caption">Caption</div>

<hr/>

<div class="mat-typography">
  <h1>Test</h1>
</div>
<hr/>
<button mat-button>Click Me!</button>
<button mat-raised-button>Click Me !!</button>
<button mat-flat-button>Click Me !!!</button>
<button mat-stroked-button>Click Me !!!!</button>
<hr/>
<button mat-icon-button>Icon</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>Mini Fab</button>
<hr/>

<button mat-button color="primary">Primary Button</button>
<button mat-button color="accent">Accent Button</button>
<button mat-button color="warn">Warn Button</button>

<button mat-raised-button color="primary">Primary Button</button>
<button mat-raised-button color="accent">Accent Button</button>
<button mat-raised-button color="warn">Warn Button</button>
<button mat-raised-button disableRipple color="warn">Warn Button</button>
-->

<!-- <button mat-icon-button color="warn">
  <mat-icon>favorite</mat-icon>
</button> -->

<!-- <div>
  <mat-button-toggle #toggleState disableRipple>{{toggleState.checked?'ON':'OFF'}}</mat-button-toggle>
</div> -->


<div>

  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="cs">C#</mat-button-toggle>
    <mat-button-toggle value="fs">F#</mat-button-toggle>
    <mat-button-toggle value="vb">VB</mat-button-toggle>
    <mat-button-toggle value="js">Java Script</mat-button-toggle>
  </mat-button-toggle-group>

  {{toggleGroup.value}}
</div>

<!--
  https://www.youtube.com/watch?v=jUfEn032IL8
Progress 29:06
-->
