/* button {
  margin-right: 1rem;
} */

/* div {
  margin: 10rem;
} */

.navbar{
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: lightblue;
width:200px;
}

.center {
  margin: 10rem;
}

mat-grid-tile {
  background-color:lightblue;
}
table {
  width: 100%;
}
